<div id='wel-con' class='welcome'>
  <h1 class='words'>Blog Posts!</h1>

  <% if logged_in? %>
    <%= link_to 'New Post', new_blog_path %>
  <% end %>
</div><!-- end wel-con -->

<div id='side-feed' class='welcome'>
  <h1 class='words'>titles</h1>
  <% @posts.each do |post| %>
    <%= link_to post.title, blog_path(post) %><br>
    <%= post.date %><br><br>
  <% end %>
</div><!-- end side -->

<% @posts.each do |post| %>
<div id='blog'> 
  <div class="date-wrapper-container">
    <div class="wrapper-container">
      <%= post.date %>
    </div><!-- wrapper-container -->
  </div><!-- date-wrapper-container -->

  <h3><%= link_to post.title, blog_path(post) %></h3>

  <%= post.content %><br>

    <% if logged_in? %>
      <%= link_to 'Edit', edit_blog_path(post) %>
      <%= link_to 'Destroy', blog_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
</div><!-- end blog -->
<% end %>
    
<div id='footer'>
  <ul>
    <a href='http://www.facebook.com'><li class='facebook'>f</li></a>
    <a href='http://www.twitter.com'><li class='twitter'>t</li></a>
    <li class='me'>Created by Chris Wenner</li>
    <a href='http://www.seedcoworking.com'><li class='seed'>seed</li></a>
  </ul>
</div><!-- end footer  -->