<p id="notice"><%= notice %></p>

<div id='blog'>
  <h3><%= @post.title %></h3>

  <%= @post.date %>

  <%= @post.content %>

<% if logged_in? %>
  <%= link_to 'Edit', edit_blog_path(@post) %> |
<% end %>
<%= link_to 'Back', blog_index_path %>
</div><!-- end -->