<!DOCTYPE html>
<html>
<head>
	<title> Geek Architect </title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
  <div id='main-container'>

    <div id='neat-display'>
      <h1>
        <span>GEEK</span>
        <span>Architect</span>
      </h1>
    </div><!-- end neat-display -->

    <div id='nav-bar'>
      <ul class='nav'>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Blog', blog_index_path %></li>
        <li><a href="#">Portfolio</a></li>
      </ul>
    </div><!-- end nav bar -->

    <div id='content'>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= yield %>
<!--
      <div id='footer'>
        <ul id='find-me'>
          <li id='facebook'>f</li>
          <li id='twitter'>t</li>
          <li id='me'>Created by Chris Wenner</li>
        </ul>
      </div> end footer  -->
    </div>

  </div><!-- end main -->
  </body>
</html>
